
/*-------------NAVBAR E FOOTER-----------------*/

body {
    color: #ffffff;
    background-color: #13396e;
}

#navbarTop {
    background-color: black !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

    #navbarTop img {
        width: 60px;
        height: 60px;
    }

    #navbarTop .col-md-3 {
        margin-left: 15px;
        align-content: center;
        display: flex;
        align-items: center;
    }

.divFooter {
    background-color: #13396e !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    color: #ffffff;
    text-align: right;
    height: 110px;
    padding-top: 0px !important;
}

    .divFooter img {
        height: 90px;
    }

    .divFooter p {
        margin-bottom: 0px;
    }
    .divFooter .row {
        display: flex;
        margin-right: 0px;
    }

        .divFooter .row col-md-4, .divFooter .row col-sm-4 {
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .divFooter .row col-md-8, .divFooter .row col-sm-8 {
            padding-right: 25px;
        }

/*-----------------GRUPOS----------------------*/
#grupos {
    object-position: center;
    background: url("/Imagens/Publico.png") 50% 0 no-repeat fixed;
    background-size: cover;
}

#videoIntroducao {
    width: 720px;
    height: 420px;
}

.divTransparente {
    position: absolute;
    width: 100%;
    height: 440px;
    background-color: #ffffff;
    opacity: 0;
    margin-right: 0px;
}

.divVideo {
    justify-content: space-around;
    padding-top: 20px;
    margin-right: 0px;
}

.divConteudoGrupos {
    margin-right: 0px !important;
    margin-left: 0px !important;
    width: 100%;
    height: 255px;
    align-items: center;
    justify-content: center;
}

#divGrupo {
    background-color: #13396e !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    border: 1px solid;
    margin-left: 15px;
    margin-top: 70px;
    margin-bottom: 80px;
    padding-bottom: 100px;
    height: 30%;
    opacity: 0.7;
    text-align: center;
    transition: transform .2s; /* Animacao */
    cursor: pointer;
}

    #divGrupo:hover {
        transform: scale(1.06); /* Animacao */
    }

    #divGrupo h1 {
        vertical-align: middle !important;
        position: absolute;
        top: 50%;
        padding-left: 15%;
        transform: translateY(-50%);
        color: #ffffff;
    }



/*-----------------SELECOES----------------------*/

#selecoes {
    margin-left: 15%;
    margin-right: 15%;
}

body .divSelecoes {
    background: url("/Imagens/Background.png") 50% 0 no-repeat fixed;
    background-size: auto;
}

#divSelecao {
    padding-left: 0px !important;
    padding-right: 0px !important;
    transition: transform .2s; /* Animacao */
    cursor: pointer;
}

    #divSelecao:hover {
        transform: scale(1.06); /* Animacao */
    }

    #divSelecao h1 {
        color: #ffffff;
    }

    #divSelecao img {
        position: center;
        margin-bottom: 30px;
    }



/*-----------------SELECAO DETALHES----------------------*/
#divDetalhesSelecao {
    padding-top: 2%;
    margin-right: 0px;
}

.divEmblema {
    text-align: center;
}

.divEstatisticaEquipamento {
    margin-right: 50px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
}

#divEstatistica {
    display: flex;
    border: 2px solid;
}

.divPorEstatistica p {
    font-weight: bold;
}

#divEquipamentos {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-top: 15px;
    border: 2px solid;
}

.divPorEquipamento img {
    width: 109px;
    height: 125px;
}

.divInfoSelecaoDivisao img {
    width: 100%;
    height: 720px;
    border: 1px solid;
}

body #selecaoDetalhes {
    background: url("/Imagens/Background.png") 50% 0 no-repeat fixed;
    background-size: auto;
    color: white;
}

#divJogadores {
    justify-content: center;
    margin-right: 15px;
}

#selecaoDetalhes {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.divJogador {
    transition: transform .2s; /* Animation */
    text-align: center;
    cursor: pointer;
}

    .divJogador:hover {
        transform: scale(1.06); /* Animacao */
    }

    .divJogador img {
        width: 180px;
        height: 180px;
    }

    .divJogador p {
        font-weight: bold;
    }


/*-----------------JOGADOR DETALHES----------------------*/


body #jogadorDetalhes {
    background: url("/Imagens/Background.png") 50% 0 no-repeat fixed;
    background-size: auto;
    margin-right: 0px;
    margin-left: 0px;
    color: #ffffff;
}

#jogadorDetalhes {
    display: flex;
    width: 100%;
    height: 700px;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}

#divBasicInfo {
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

    #divBasicInfo img {
        width: 180px;
        height: 180px;
    }

#divEstatisticasJogadores {
    justify-content: center;
    text-align: center;
}

#divImagemPosicao {
    margin-bottom: 20px;
}

    #divImagemPosicao img {
        width: 60%;
        height: 520px;
        border: 1px solid;
    }
