body .divConteudoGrupos, body .divSelecoes, body #selecaoDetalhes {
    background-color: #13396e !important;
}

.divConteudoGrupos {
    background: url("/Imagens/Publico.png") 50% 0 no-repeat fixed;
    margin-right: 0px !important;
    margin-left: 0px !important;
    width: 100%;
    height: 455px;
    align-items: center;
    background-size: cover;
}

body .divSelecoes {
    background: url("/Imagens/Background.png") 50% 0 no-repeat fixed;
    background-size: auto;
}

body #selecaoDetalhes {
    background: url("/Imagens/Background.png") 50% 0 no-repeat fixed;
    background-size: auto;
    color: white;
}
body #jogadorDetalhes {
    background: url("/Imagens/Background.png") 50% 0 no-repeat fixed;
    background-size: auto;
    margin-right: 0px;
    margin-left: 0px;
    color: #ffffff;
}

#selecaoDetalhes {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

#divGrupo {
    background-color: #13396e !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    border: 1px solid;
    margin-top: 15px;
    margin-left: 15px;
    height: 30%;
    margin-bottom: 15px;
    opacity: 0.7;
    text-align: center;
    transition: transform .2s; /* Animacao */
}

    #divGrupo:hover {
        transform: scale(1.06); 

    }

    #divGrupo h1 {
        vertical-align: middle !important;
        position: absolute;
        top: 50%;
        padding-left: 15%;
        transform: translateY(-50%);
        color: #ffffff;
    }

.divFooter {
    background-color: #13396e !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    color: #ffffff;
    text-align: right;
}

#divSelecao {
    padding-left: 0px !important;
    padding-right: 0px !important;
    transition: transform .2s; /* Animacao */
}

#divSelecao:hover {
    transform: scale(1.06); 
}


#divSelecao h1 {
    color: #ffffff;
}

#navbarTop {
    background-color: black !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

#divJogador {
    transition: transform .2s; /* Animation */
}

#divJogador:hover {
    transform: scale(1.06);
}

#jogadorDetalhes {
    width: 100%;
    height: 455px;
}